<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ステージメーカー</title>
        <link rel="stylesheet" href="stageMaker.css">
    </head>
    <body>
        <div id="app">
            <h3>プレビュー</h3>
            <select name="tilesheet-selection" v-model="picSelected">
                <option value="overworld_tileset_grass.png">overworld_tileset_grass.png</option>
                <option value="second_tileset_grass.png">second_tileset_grass.png</option>
            </select>
            <table id="previewArea" cellspacing="0"></table>
            <button v-on:click="clicked">プレビュー表示</button>
            <button v-on:click="print">出力</button>
            <div class="display-none" id="resultArea"></div>
            <h3>素材</h3>
            <table id="sampleArea" cellspacing="3">
            </table>
            <h3>入力部分</h3>
            <table id="inputArea" cellspacing="0">
                <tr v-for="(content, yIndex) in contents">
                    <td v-for="(c, xIndex) in content">
                        <input type=number v-model="contents[yIndex][xIndex]">
                    </td>
                </tr>
            </table>
            <ul></ul>     
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="stageMaker.js"></script>
    </body>
</html>
