td {
    width: 36px;
    height:36px;
    background-size: cover;
}
input {
    font-size: 10px;
    width: 36px;
    height:36px;
}
.display-none{
    display:none;
}
.indexTd{
    padding:0px;
    margin:0 auto;
    text-align: center;
}